workflows/Automate Invoices w Mistral OCR (Ref).json
{"createdAt":"2025-06-13T14:47:21.464Z","updatedAt":"2025-06-25T21:29:59.000Z","id":"Q5ykC9oOJ9dzgwkA","name":"Automate Invoices w Mistral OCR (Ref)","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Please pull out all the text from this image","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,400],"id":"601418d4-e71a-4a68-aa6a-c2dbdc963548","name":"OpenAI1"},{"parameters":{"operation":"composite","dataPropertyNameComposite":"data","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[20,400],"id":"d18ef551-29ec-46f8-804a-e81006cc538a","name":"Edit Image"},{"parameters":{"resource":"file","fileId":"={{ $json.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,400],"id":"70c4cba5-f737-4ae6-ad86-5e0d7e1cf241","name":"Telegram1","webhookId":"0b60a1de-a75c-4b2f-ae0f-aa63111441a7"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You're an intelligent bot that is great at extracting data from text. Here is the information you need to extract:\n{{ $('When Executed by Another Workflow').item.json.message }}","role":"system"},{"content":"=Here's the document you need to extract the right information from\n{{ $json.choices[0].message.content }}"},{"content":"Please output the following in JSON data as structured below:\n{\n  \"invoice_number\": \"INV-1001\",\n  \"invoice_date\": \"2025-03-26\",\n  \"due_date\": \"2025-04-02\",\n  \"sender\": {\n    \"company_name\": \"Your Company Name\",\n    \"address\": \"123 Business St, Suite 100\",\n    \"city\": \"Toronto\",\n    \"province\": \"ON\",\n    \"postal_code\": \"M1A 2B3\",\n    \"country\": \"Canada\",\n    \"email\": \"info@yourcompany.com\",\n    \"phone\": \"+1-123-456-7890\"\n  },\n  \"recipient\": {\n    \"company_name\": \"Client Company Inc.\",\n    \"contact_name\": \"Jane Doe\",\n    \"address\": \"456 Client Rd\",\n    \"city\": \"Vancouver\",\n    \"province\": \"BC\",\n    \"postal_code\": \"V5K 0A1\",\n    \"country\": \"Canada\",\n    \"email\": \"jane.doe@client.com\"\n  },\n  \"items\": [\n    {\n      \"description\": \"Website Design\",\n      \"quantity\": 1,\n      \"unit_price\": 2000.00,\n      \"total\": 2000.00\n    },\n    {\n      \"description\": \"Monthly Hosting (March)\",\n      \"quantity\": 1,\n      \"unit_price\": 100.00,\n      \"total\": 100.00\n    }\n  ],\n  \"subtotal\": 2100.00,\n  \"taxes\": [\n    {\n      \"type\": \"GST\",\n      \"rate\": 5,\n      \"amount\": 105.00\n    }\n  ],\n  \"total\": 2205.00,\n  \"currency\": \"CAD\",\n  \"notes\": \"Thank you for your business!\",\n  \"terms\": \"Payment due within 7 days.\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,400],"id":"0d57e660-8cbe-42b7-8212-46143a520045","name":"OpenAI2"},{"parameters":{"fieldToSplitOut":"message.content.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[780,400],"id":"b37eae40-60f1-42d6-bc0a-363be137183f","name":"Split Out1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1i1ZPwD-lkKh5ByZrA6UDRWVgqAKHN0q3oazNR0BpEXM","mode":"list","cachedResultName":"n8n OCR Extraction","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i1ZPwD-lkKh5ByZrA6UDRWVgqAKHN0q3oazNR0BpEXM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i1ZPwD-lkKh5ByZrA6UDRWVgqAKHN0q3oazNR0BpEXM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.description }}","QTY":"={{ $json.quantity }}","Line Item":"={{ $json.description }}","Price":"={{ $json.total }}","Invoice Total":"={{ $('OpenAI2').item.json.message.content.total }}","Invoice #":"={{ $('OpenAI2').item.json.message.content.invoice_number }}","Date":"={{ $('OpenAI2').item.json.message.content.invoice_date }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Line Item","displayName":"Line Item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Invoice #","displayName":"Invoice #","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QTY","displayName":"QTY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Invoice Total","displayName":"Invoice Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,400],"id":"05814899-944c-49c4-b2a2-5bc2b70b78e1","name":"Google Sheets1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-140,660],"id":"4bc134f5-858f-4197-a337-c7a1cc84fab0","name":"Telegram Trigger","webhookId":"a546816d-85c8-4801-8dc8-3348fa8d10b1"},{"parameters":{"promptType":"define","text":"={{ $json.message.caption }}","options":{"systemMessage":"=You are a helpful assistant, named Jono, and your task is to handle intelligent document processing.\n\n##Tools\n1. Call the document_processing tool to handle any OCR for PDF document processing. \n2. Call the image_processsing tool to handle any OCR for image processing. When user calls this tool, please start it immediately. The image will be passed through an ID and processed on the sub-agent. No need to verify"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,660],"id":"1c8fe701-0617-4790-9526-55f33c8cfb06","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-40,880],"id":"6dbb32a9-8fd8-4e71-92bb-49fd6f460f03","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[200,880],"id":"4d2f0a60-a6f1-43f5-b0c9-7d720d8a91fe","name":"Window Buffer Memory"},{"parameters":{"name":"document_processing","description":"Call this tool to pull out any data from a PDF file","workflowId":{"__rl":true,"value":"9RBCF8EHFlsT3KJ6","mode":"list","cachedResultName":"Document Processing"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Telegram Trigger').item.json.message.caption }}","id":"={{ $('Telegram Trigger').item.json.message.document.file_id }}"},"matchingColumns":["data"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[340,880],"id":"db7d6ae2-9462-4f92-8a80-7a9545eb6d3c","name":"Document processing"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[540,660],"id":"a0a36866-a10b-403f-83c6-e06d1c104c84","name":"Telegram3","webhookId":"78512bac-d1ad-418a-870d-7ec90d327af7"},{"parameters":{"name":"image_processing","description":"Call this tool to pull out any data from a image file (JPG, PNG, etc)","workflowId":{"__rl":true,"value":"m0C4Xan9A80W4bjz","mode":"list","cachedResultName":"Image Processing"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Telegram Trigger').item.json.message.caption }}","id":"={{ $('Telegram Trigger').item.json.message.document.file_id }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[480,880],"id":"f165a775-e830-4a89-b93c-46a574c00568","name":"Image processing"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"message\": \"\",\n  \"id\": \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-180,160],"id":"7471b807-0710-4572-ac3f-a4601296a4a7","name":"When Executed by Another Workflow"},{"parameters":{"resource":"file","fileId":"={{ $json.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[40,160],"id":"9dd22380-f228-4e7f-ba2b-2d83710f5cfc","name":"Telegram","webhookId":"0b60a1de-a75c-4b2f-ae0f-aa63111441a7"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[240,160],"id":"f82d021f-e8ee-4779-bd04-9d7c66f700d3","name":"Extract from File"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You're an intelligent bot that is great at extracting data from text. Here is the information you need to extract:\n{{ $('When Executed by Another Workflow').item.json.message }}","role":"system"},{"content":"=Here's the document you need to extract the right information from:\n{{ $json.text }}"},{"content":"Please output the following in JSON data as structured below:\n{\n  \"invoice_number\": \"INV-1001\",\n  \"invoice_date\": \"2025-03-26\",\n  \"due_date\": \"2025-04-02\",\n  \"sender\": {\n    \"company_name\": \"Your Company Name\",\n    \"address\": \"123 Business St, Suite 100\",\n    \"city\": \"Toronto\",\n    \"province\": \"ON\",\n    \"postal_code\": \"M1A 2B3\",\n    \"country\": \"Canada\",\n    \"email\": \"info@yourcompany.com\",\n    \"phone\": \"+1-123-456-7890\"\n  },\n  \"recipient\": {\n    \"company_name\": \"Client Company Inc.\",\n    \"contact_name\": \"Jane Doe\",\n    \"address\": \"456 Client Rd\",\n    \"city\": \"Vancouver\",\n    \"province\": \"BC\",\n    \"postal_code\": \"V5K 0A1\",\n    \"country\": \"Canada\",\n    \"email\": \"jane.doe@client.com\"\n  },\n  \"items\": [\n    {\n      \"description\": \"Website Design\",\n      \"quantity\": 1,\n      \"unit_price\": 2000.00,\n      \"total\": 2000.00\n    },\n    {\n      \"description\": \"Monthly Hosting (March)\",\n      \"quantity\": 1,\n      \"unit_price\": 100.00,\n      \"total\": 100.00\n    }\n  ],\n  \"subtotal\": 2100.00,\n  \"taxes\": [\n    {\n      \"type\": \"GST\",\n      \"rate\": 5,\n      \"amount\": 105.00\n    }\n  ],\n  \"total\": 2205.00,\n  \"currency\": \"CAD\",\n  \"notes\": \"Thank you for your business!\",\n  \"terms\": \"Payment due within 7 days.\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,160],"id":"c561a8c6-5698-4a86-b497-e218ddc28845","name":"OpenAI"},{"parameters":{"fieldToSplitOut":"message.content.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[840,160],"id":"7944a57f-537e-47aa-b94e-66f6ee72bd0a","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1i1ZPwD-lkKh5ByZrA6UDRWVgqAKHN0q3oazNR0BpEXM","mode":"list","cachedResultName":"n8n OCR Extraction","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i1ZPwD-lkKh5ByZrA6UDRWVgqAKHN0q3oazNR0BpEXM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i1ZPwD-lkKh5ByZrA6UDRWVgqAKHN0q3oazNR0BpEXM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.description }}","QTY":"={{ $json.quantity }}","Line Item":"={{ $json.description }}","Price":"={{ $json.total }}","Invoice Total":"={{ $('OpenAI').item.json.message.content.total }}","Invoice #":"={{ $('OpenAI').item.json.message.content.invoice_number }}","Date":"={{ $('OpenAI').item.json.message.content.invoice_date }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Line Item","displayName":"Line Item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Invoice #","displayName":"Invoice #","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QTY","displayName":"QTY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Invoice Total","displayName":"Invoice Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1060,160],"id":"a353e67f-83ec-4d2a-9191-6832a5cb239a","name":"Google Sheets"},{"parameters":{"path":"8a4e706e-8d7f-41c4-8e98-0dccd02d47a7","options":{}},"id":"88c04b54-fc9e-4c2f-8d4a-711d88e0b3f5","name":"On form submission","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-120,-80],"webhookId":"8a4e706e-8d7f-41c4-8e98-0dccd02d47a7"},{"parameters":{"requestMethod":"POST","url":"https://api.mistral.ai/v1/send-pdf","jsonParameters":true,"options":{}},"id":"8c0fed79-0d1a-4cb7-bfd9-830afcc0062a","name":"send pdf to Mistral","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[80,-80]},{"parameters":{"url":"https://api.mistral.ai/v1/get-signed-url","jsonParameters":true,"options":{}},"id":"6922db50-9da0-4a10-9bcf-b6c9ec64e389","name":"mistral - get signed url","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[280,-80]},{"parameters":{"requestMethod":"POST","url":"https://api.mistral.ai/v1/get-parsed-invoice","jsonParameters":true,"options":{}},"id":"e829202b-f450-4f27-af42-c1ec72f85359","name":"Get Parsed Invoice","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[480,-80]},{"parameters":{"functionCode":"return [{ json: { parsed: JSON.parse(items[0].json.result) } }];"},"id":"43280e11-507c-4fc7-a3b1-78acb26810ce","name":"Structured Output Parser","type":"n8n-nodes-base.function","typeVersion":1,"position":[800,-60]},{"parameters":{"options":{}},"id":"2bce2918-d482-4cb0-9a72-f4c0d008ea35","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":1,"position":[1040,-80]}],"connections":{"OpenAI1":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Document processing":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Image processing":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"send pdf to Mistral","type":"main","index":0}]]},"send pdf to Mistral":{"main":[[{"node":"mistral - get signed url","type":"main","index":0}]]},"mistral - get signed url":{"main":[[{"node":"Get Parsed Invoice","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"message":"Please pull out the tax, discount and line items","document":"BQACAgEAAxkBAAMSZ-RDbapsKK8rjiE6Hb1YMNtQNYQAAogEAAL7byFHwgV5FywtQnE2BA"}}]},"versionId":"c9a09ff4-ae94-4866-938d-e12e00373456","triggerCount":0,"shared":[{"createdAt":"2025-06-13T14:47:21.481Z","updatedAt":"2025-06-13T14:47:21.481Z","role":"workflow:owner","workflowId":"Q5ykC9oOJ9dzgwkA","projectId":"uOq34c8HjhQfCJ55"}],"tags":[{"createdAt":"2025-06-25T21:27:47.437Z","updatedAt":"2025-06-25T21:27:47.437Z","id":"cSM5oTGW1SulCT1M","name":"Reference"}]}