workflows/My workflow 3.json
{"createdAt":"2025-06-13T14:48:27.779Z","updatedAt":"2025-06-13T14:48:27.779Z","id":"efK5dow79AQ5QvYB","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer PXD7ANxNsIi5wV5SioAMSSeZYl1yhLgw"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"={{ $json.path }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-460,220],"id":"38c40d54-1c88-47cc-a8ad-aa1fb47f28db","name":"HTTP Request"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer [YOUR_API_KEY]"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,220],"id":"f58f6f4b-6bd2-48d5-8c5c-08266e11d855","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [YOUR_API_KEY]"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n} ","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,220],"id":"0f75a36c-94ef-4d3e-9ae2-d87712e1d4c0","name":"HTTP Request2"},{"parameters":{"text":"={{ $json.pages[0].markdown }}","schemaType":"fromJson","jsonSchemaExample":"{\n\"Invoice Issuing Date\": \"31.12.2025\",\n\"Invoice number\": \"Nr. 243124\",\n\"Issuer\": \"Company B LLC\",\n\"Receiver\": \"SIA Company A\",\n\"Total Amount to Pay\": 200,\n\"VAT\": 100,\n\"Pay Due\": \"01.01..2025\",\n\"Line_item_1_service\": \"MY Best Service\",\n\"Line_item_1_to_pay\": 125,\n\"Line_item_1_to_amount\": 5,\n\"Line_item_1_total\": 753,\n\"Issuer Registration Number\": \"4234234234\",\n\"Receiver Registration Number\": \"34543543523\",\n\"Issue Address\": \"USA, Wall Street 8 - 10\",\n\"Receiver Address\": \"USA, Wall Street 8 - 10\",\n\"Total, EUR\": 500\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[200,220],"id":"f6218714-7221-4684-ae1e-3621ca0c7e2e","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[180,420],"id":"f7c42c85-fa41-4bdd-ab72-b33d0becb8ca","name":"OpenAI Chat Model"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uVlrghnGASyqrSq3LIBUW8Yqq70dZzUkZLUGK2ahoJU","mode":"list","cachedResultName":"Accounting Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uVlrghnGASyqrSq3LIBUW8Yqq70dZzUkZLUGK2ahoJU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uVlrghnGASyqrSq3LIBUW8Yqq70dZzUkZLUGK2ahoJU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Company name":"={{ $json.output.Receiver }}","Registration number":"={{ $json.output['Receiver Registration Number'] }}","Invoice Date":"={{ $json.output['Invoice Issuing Date'] }}","Total, EUR":"={{ $json.output.Line_item_1_total }}","VAT":"={{ $json.output.VAT }}","Total To Pay":"={{ $json.output['Total Amount to Pay'] }}","Due to (Date)":"={{ $json.output['Pay Due'] }}"},"matchingColumns":[],"schema":[{"id":"Company name","displayName":"Company name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registration number","displayName":"Registration number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invoice Date","displayName":"Invoice Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total, EUR","displayName":"Total, EUR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VAT","displayName":"VAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total To Pay","displayName":"Total To Pay","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Due to (Date)","displayName":"Due to (Date)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,220],"id":"fd4d1ab4-396e-456b-9c8d-af986a13cd9f","name":"Google Sheets"},{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"-1002371463174"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-960,-40],"id":"c410f4a1-79d4-449c-8840-aa41285e964f","name":"no photo1","webhookId":"4ad0ba1a-3692-4ead-93e0-bd538f1851a0"},{"parameters":{"jsCode":"const message = $input.first().json.message;\n\nif (message.photo) {\n  if (Array.isArray(message.photo)) {\n    // Multiple photos: find the largest by file_size\n    const largestPhoto = message.photo.reduce((max, photo) => {\n      return (photo.file_size > max.file_size) ? photo : max;\n    }, message.photo[0]);\n    return [{\n      json: {\n        file_id: largestPhoto.file_id,\n        width: largestPhoto.width,\n        height: largestPhoto.height\n      }\n    }];\n  } else {\n    // Single photo object (not an array)\n    return [{\n      json: {\n        file_id: message.photo.file_id,\n        width: message.photo.width,\n        height: message.photo.height\n      }\n    }];\n  }\n} else {\n  // No photos found\n  return [];\n}\n"},"id":"7e394821-e326-4a79-83af-6cfd90dad0e6","name":"Find largest photo","type":"n8n-nodes-base.code","typeVersion":1,"position":[-720,-40]},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-500,-40],"id":"63d7eae9-0d06-4eb6-85b3-4b557806d5e5","name":"Download photo","webhookId":"ac968646-1459-4aa3-a68b-2f520a7cd8e9"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-800,300],"id":"b63b415c-16fc-4a0d-b808-c31fbdca0fa0","name":"Edit Image1"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"8647dacc-e39e-4706-81dc-46a3ed88372d","name":"Mistral Upload1","type":"n8n-nodes-base.httpRequest","position":[-180,-80],"typeVersion":4.2},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"id":"2c972d3b-a6cf-499d-9509-e7cb532af90c","name":"Mistral Signed URL1","type":"n8n-nodes-base.httpRequest","position":[20,-80],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  }\n}","options":{}},"id":"0569fffd-ee6d-4ba1-87e7-5db8a8881680","name":"Mistral IMAGE OCR","type":"n8n-nodes-base.httpRequest","position":[220,-80],"typeVersion":4.2}],"connections":{"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"no photo1":{"main":[[{"node":"Find largest photo","type":"main","index":0}]]},"Find largest photo":{"main":[[{"node":"Download photo","type":"main","index":0}]]},"Download photo":{"main":[[{"node":"Mistral Upload1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Mistral Upload1":{"main":[[{"node":"Mistral Signed URL1","type":"main","index":0}]]},"Mistral Signed URL1":{"main":[[{"node":"Mistral IMAGE OCR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"no photo1":[{"json":{"update_id":778130075,"message":{"message_id":12,"from":{"id":628771922,"is_bot":false,"first_name":"Eduardo","username":"eddardstark67","language_code":"pt-pt"},"chat":{"id":-1002371463174,"title":"🚗 Gas","type":"supergroup"},"date":1749202144,"photo":[{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADcwADNgQ","file_unique_id":"AQADxMsxG0agEFJ4","file_size":1053,"width":51,"height":90},{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADbQADNgQ","file_unique_id":"AQADxMsxG0agEFJy","file_size":13745,"width":180,"height":320},{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADeAADNgQ","file_unique_id":"AQADxMsxG0agEFJ9","file_size":62798,"width":451,"height":800},{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADeQADNgQ","file_unique_id":"AQADxMsxG0agEFJ-","file_size":117007,"width":721,"height":1280}]}}}],"Mistral IMAGE OCR":[{"json":{"pages":[{"index":0,"markdown":"![img-0.jpeg](img-0.jpeg)\n\n749\n\n71\n100 12\n80\nkm/h\n60\n40\n20\n92652","images":[{"id":"img-0.jpeg","top_left_x":0,"top_left_y":157,"bottom_right_x":718,"bottom_right_y":564,"image_base64":null,"image_annotation":null}],"dimensions":{"dpi":200,"height":1280,"width":721}}],"model":"mistral-ocr-2505-completion","document_annotation":null,"usage_info":{"pages_processed":1,"doc_size_bytes":117007}}}]},"versionId":"fc718b96-53cb-45d1-a0d6-78f261ee0279","triggerCount":0,"shared":[{"createdAt":"2025-06-13T14:48:27.790Z","updatedAt":"2025-06-13T14:48:27.790Z","role":"workflow:owner","workflowId":"efK5dow79AQ5QvYB","projectId":"uOq34c8HjhQfCJ55"}],"tags":[]}