workflows2/ASMR shorts (Ref).json
{"createdAt":"2025-06-23T15:29:04.480Z","updatedAt":"2025-06-25T21:27:56.000Z","id":"2Lq4yW7gbVTRDhIt","name":"ASMR shorts (Ref)","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}"},{"name":"aspect_ratio","value":"9:16"},{"name":"generate_audio","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,340],"id":"c87cf1a3-3f36-4077-88eb-7d4aed02a862","name":"Generate Video"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,300],"id":"16f80134-4b00-4fe6-a79c-4e776f01accf","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Video URL","value":"={{ $json.video.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,300],"id":"9705dad9-da94-4124-a434-c90fa10acc49","name":"Result"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[640,340],"id":"7000b821-473f-4835-adbf-e4532c47461b","name":"5 Minutes","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[180,-60],"id":"55be0cc5-182e-42ed-a43c-0feae7ffe849","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1i7MyXkNZgdJi0oE4kYNoD7CUSwkP6mbXYaYsA7MK-xY","mode":"list","cachedResultName":"Veo 3 ASMR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i7MyXkNZgdJi0oE4kYNoD7CUSwkP6mbXYaYsA7MK-xY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i7MyXkNZgdJi0oE4kYNoD7CUSwkP6mbXYaYsA7MK-xY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[380,-60],"id":"57192914-0e84-4ce6-99ea-adf51c670f18","name":"Get Past Objects","credentials":{"googleSheetsOAuth2Api":{"id":"FiN8dHFX38dRSgOV","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[720,180],"id":"2935200f-ff15-46f4-b28c-7e9a27a4c416","name":"GPT 4.1-mini"},{"parameters":{"promptType":"define","text":"={{ $json.output.object }}","options":{"systemMessage":"=# Overview\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of a glass object (e.g. \"glass apple\", \"glass mushroom\", \"glass croissant\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being cut in a close-up ASMR scene.\n\n## Core Requirements:\n- The video must feel cinematic and photorealistic.\n- Scene is a static, close-up shot of a dark wooden cutting board and a large, heavy steel knife.\n- Cutting must look physically possible — glass should break cleanly, not shatter, with smooth, controlled slices.\n- The video starts immediately with the cutting action.\n- The object must retain some color (e.g. red glass apple, green glass pear) — not fully transparent — to create visual contrast.\n- No humans visible. Only one hand holding the knife, the other stabilizing the object.\n- The cut should include **four distinct ASMR sound layers**:\n  1. The sharp tap of the knife touching the glass  \n  2. The smooth, controlled slicing sound through the glass  \n  3. The soft thud as the knife hits the board  \n  4. The delicate clink as the cut piece lands on the board  \n- The **initial knife-glass contact should sound especially crisp and prominent**, like metal striking polished glass.\n\n## Prompt Requirements\n1. **Scene Description**: Detail the board material (e.g. walnut), light setup (e.g. soft top-down), and camera style.\n2. **Object Detail**: Describe the object’s color, shape, texture, and reflective qualities.\n3. **Cutting Action**: Describe the cut from start to finish with a smooth break — no splintering or shattering.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n   - Knife-glass contact\n   - The clean slice through colored glass\n   - The thud of knife on wood\n   - The glass piece gently hitting the board\n5. **Ambience**: Total silence except for cutting sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed [glass object] resting on a dark wooden cutting board.  \n**Setting**: Static close-up, soft natural lighting, minimal background.  \n**Action**: A large steel knife slowly slices through the [glass object], breaking it into perfect segments with a deliberate, cinematic cut.  \n**Style**: Cinematic ASMR realism, photorealistic lighting and textures.  \n**Sound**: Four high-fidelity sound layers in each cut — (1) ultra high definition sound as the knife makes contact with the glass, (2) a clean, smooth slicing sound, (3) a muted wooden thud, and (4) a precise clink as each piece lands. The initial tap should be especially sharp and prominent, emphasizing the contact of steel on glass. No other audio.  \n**Camera Motion**: Fixed camera with slight focus shifts during movement.  \n**Composition**: Centered object, knife enters from edge.  \n**Ambiance**: Pin-drop silence around the cutting sounds.  \n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed — like they can hear and feel every slice. Visually surreal, physically satisfying."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[180,340],"id":"7b7eaf2f-9476-47b7-ae78-c95f41b5932a","name":"Prompt Agent"},{"parameters":{"promptType":"define","text":"=Objects: {{ $json.objects.join(\", \") }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview  \nYou are an AI agent that selects unique **fruits** for ASMR-style glass cutting videos.\n\n## Your Task  \nYou will receive a list of 7 fruits that have already been used.  \nYour job is to generate **one new fruit** that is **not on that list**, and would look visually compelling if it were made of **glass** and cut with a knife in a close-up ASMR video.\n\n## Requirements\n- The fruit must **not repeat** any of the 7 provided items.  \n- The fruit must have a **clear, recognizable shape** and be **physically feasible** to cut with a knife (even if it’s made of glass).  \n- Prioritize fruits that would look **aesthetic and interesting** with a translucent, colored glass texture.  \n- Do **not** explain or describe the fruit.\n\n## Output Format  \nOutput a JSON object with the following structure:\n\n{\n  \"object\": \"Glass [Object name]\",\n  \"caption\": \"Glass [Object name] ASMR\"\n}\n\nReplace `[object name]` with the newly generated fruit. Do not include any punctuation or commentary.\n\n## Example Output  \n{\n  \"object\": \"Glass Apple\",\n  \"caption\": \"Glass Apple ASMR\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[920,-100],"id":"e05efd3c-e04a-4dc2-9cd7-b21abd3258f9","name":"Idea Agent"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[560,-60],"id":"20b2255b-018c-486a-9fb5-29ea878b3446","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"cf818c10-ad6d-4349-830f-393529a79d62","name":"objects","value":"=[\"{{ $json.data[0].Object }}\",\"{{ $json.data[1].Object }}\",\"{{ $json.data[2].Object }}\",\"{{ $json.data[3].Object }}\",\"{{ $json.data[4].Object }}\",\"{{ $json.data[5].Object }}\",\"{{ $json.data[6].Object }}\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,-60],"id":"63a283b5-2f6d-4dd4-9627-abefd87a0662","name":"Set Object List"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,660],"id":"02056264-f04e-4cf3-808b-52a49acb6258","name":"YouTube","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,660],"id":"81a02d3e-e246-424a-9cf2-3c45f4578a12","name":"TikTok","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,660],"id":"0a44ef74-7fb1-4299-a80c-98989fc1f4e3","name":"Instagram","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.URL }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,660],"id":"3dfa4d17-66c1-402b-825b-cb7c35100837","name":"Upload to Blotato"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE","mode":"list","cachedResultName":"Veo 3 ASMR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,660],"id":"2c349549-72fa-4c13-b73a-f967b0f11076","name":"Delete First Row","credentials":{"googleSheetsOAuth2Api":{"id":"FiN8dHFX38dRSgOV","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE","mode":"list","cachedResultName":"Veo 3 ASMR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Object":"={{ $('Idea Agent').item.json.output.object }}","URL":"={{ $('Result').item.json['Video URL'] }}"},"matchingColumns":[],"schema":[{"id":"Object","displayName":"Object","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,660],"id":"18631a0a-ce3b-4fe6-8daf-252ced193cc1","name":"Append Object"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"object\": {\n      \"type\": \"string\",\n      \"description\": \"A new object name in the format 'glass [object]', all lowercase with no punctuation.\"\n    },\n    \"caption\": {\n      \"type\": \"string\",\n      \"description\": \"A caption in the format 'glass [object] ASMR', matching the object field exactly.\"\n    }\n  },\n  \"required\": [\"object\", \"caption\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1140,100],"id":"39d808e0-486c-4019-8341-105c8049fb11","name":"Object & Caption"},{"parameters":{"content":"# Part 1) Idea Generation","height":360,"width":1140,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-160],"id":"78344249-6ebd-4006-be19-476867c18d2a","name":"Sticky Note"},{"parameters":{"content":"# Part 2) Video Generation","height":300,"width":1140,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,220],"id":"dd00d344-3177-49b4-a267-749aed1144e4","name":"Sticky Note1"},{"parameters":{"content":"# Part 3) Posting to Socials","height":300,"width":1140,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,540],"id":"46246629-c6fe-4ff2-b082-1dc403d68429","name":"Sticky Note2"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[980,360],"id":"9f1957f5-d263-4135-b394-acf8908bf157","name":"30 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"content":"# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get your workflow fully functional:\n\n### ✅ Step 1: Connect Your [OpenRouter](https://openrouter.ai/) API Key  \nThis powers the AI agents. Ensure your key is active and integrated via OpenRouter chat models.\n\n### ✅ Step 2: Connect Your Fal AI API Key  \nEnter your API key securely in the HTTP Request nodes in Part 2.\n\n### ✅ Step 3: Connect [Blotato](https://blotato.com/?ref=nate) + Your Social IDs  \n💸 Use code **NATE30** for **30% off for 6 months**\n- Add your **Blotato API key**  \n- Enter your **YouTube**, **Instagram**, and **TikTok account IDs**  \n\n\n### ✅ Step 4: Copy This [Google Sheet Template](https://docs.google.com/spreadsheets/d/1lBLtXzxhhQiaJZR2EbYTwvMENnp8GnfU03KERpbMCBI/edit?usp=sharing)  \nMake a copy to your Google Drive, then connect the Google Sheets node to your version of the template.\n\n### 🚀 Final Step: Test the Flow  \nTrigger the workflow and verify that data flows through each service as expected.\n","height":940,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-440,-100],"id":"49079529-423a-4e90-92c4-4e4a1da1e0e3","name":"Sticky Note3"},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[860,100],"id":"3008e6e8-cc1f-49b4-96b2-33c3b88bdc9e","name":"Groq Chat Model","credentials":{"groqApi":{"id":"P3S2z8u6sNyUkOXd","name":"Groq account"}}}],"connections":{"Generate Video":{"main":[[{"node":"5 Minutes","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Result","type":"main","index":0}],[{"node":"30 Seconds","type":"main","index":0}]]},"Result":{"main":[[{"node":"Delete First Row","type":"main","index":0}]]},"5 Minutes":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Past Objects","type":"main","index":0}]]},"Get Past Objects":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"GPT 4.1-mini":{"ai_languageModel":[[]]},"Prompt Agent":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"Idea Agent":{"main":[[{"node":"Prompt Agent","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Set Object List","type":"main","index":0}]]},"Set Object List":{"main":[[{"node":"Idea Agent","type":"main","index":0}]]},"Upload to Blotato":{"main":[[{"node":"YouTube","type":"main","index":0},{"node":"Instagram","type":"main","index":0},{"node":"TikTok","type":"main","index":0}]]},"Delete First Row":{"main":[[{"node":"Append Object","type":"main","index":0}]]},"Append Object":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"Object & Caption":{"ai_outputParser":[[{"node":"Idea Agent","type":"ai_outputParser","index":0}]]},"30 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Idea Agent","type":"ai_languageModel","index":0},{"node":"Prompt Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9d4977da-1c38-4c60-af63-0ebc827abe78","triggerCount":0,"shared":[{"createdAt":"2025-06-23T15:29:04.506Z","updatedAt":"2025-06-23T15:29:04.506Z","role":"workflow:owner","workflowId":"2Lq4yW7gbVTRDhIt","projectId":"uOq34c8HjhQfCJ55"}],"tags":[{"createdAt":"2025-06-25T21:27:47.437Z","updatedAt":"2025-06-25T21:27:47.437Z","id":"cSM5oTGW1SulCT1M","name":"Reference"}]}