workflows2/Backup workflows to git repository on Github.json
{"createdAt":"2025-09-29T16:07:07.483Z","updatedAt":"2025-09-29T16:14:36.000Z","id":"AFNcYSPA60w774FN","name":"Backup workflows to git repository on Github","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"1e2cb4fb-2c39-4187-aa0a-387f3131cc05","name":"GitHub","type":"n8n-nodes-base.github","position":[256,128],"typeVersion":1,"alwaysOutputData":true,"webhookId":"bbe5c9c1-4347-4366-ba60-7ffbc4b75ae5","credentials":{"githubApi":{"id":"Qcp7Fwq2uYr4hHWR","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"ecaridade"},{"name":"repo.name","value":"demodb"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"ee972f96-17ad-4dad-9d92-1d3d5609b27e","name":"Globals","type":"n8n-nodes-base.set","position":[-448,48],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"57920e83-9198-4b66-aace-fd4df64dc9fc","name":"n8n","type":"n8n-nodes-base.n8n","position":[-208,48],"typeVersion":1,"credentials":{"n8nApi":{"id":"G3LhjhB4foE7z0YH","name":"n8n account"}}},{"parameters":{"options":{}},"id":"71c81da6-2679-4866-971a-0f6c3cab7c58","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[16,48],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"15fc5efb-c44e-42f2-bef8-18fea68892ac","name":"If","type":"n8n-nodes-base.if","position":[448,128],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"5f5061d3-499f-4243-9906-acda57dbe18a","name":"If1","type":"n8n-nodes-base.if","position":[1328,416],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"431eebb2-8820-4253-990a-b743a3e99a58","name":"Code","type":"n8n-nodes-base.code","position":[1008,112],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"e5559994-b661-4d2a-956a-ec32aafc5f90","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[640,288],"typeVersion":1,"webhookId":"0fcddec1-0d12-4af4-a43f-0044cf46b01e","credentials":{"githubApi":{"id":"Qcp7Fwq2uYr4hHWR","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"4fa1f23f-acfa-43cf-96d8-773edf126df2","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1696,608],"typeVersion":1,"webhookId":"2b23c5ee-9bc9-4f7a-bc6c-5748b063d421"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"da9a481b-d0e9-4819-b792-da6267b86ebb","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-672,48],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"d4ef2586-a8dd-437a-a0d1-8e687ada216e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1856,640],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"a3695f85-a0f7-4ce5-8d27-e38fcb7f0999","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1472,416],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"cc410bdd-1e3a-46c8-993c-d66ee702df56","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[752,320],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"9fd4c957-619f-402d-8ef4-f0a63a2c1587","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[448,32],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"f7cfee6d-a8a4-40b0-8f41-ad1b574c0708","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[960,16],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"0d0819d8-1f87-48ac-bf6d-174f836e92af","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-272,-48],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"3db3d97a-ced1-4bb1-b5d7-758d71237cc3","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-528,192],"typeVersion":1}],"connections":{"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0d080e6b-5b94-4aee-9bc1-8b0f6306533e","triggerCount":0,"shared":[{"createdAt":"2025-09-29T16:07:07.510Z","updatedAt":"2025-09-29T16:07:07.510Z","role":"workflow:owner","workflowId":"AFNcYSPA60w774FN","projectId":"uOq34c8HjhQfCJ55"}],"tags":[]}