workflows2/Gmail (Ref).json
{"createdAt":"2025-06-12T18:20:45.511Z","updatedAt":"2025-06-25T21:31:15.000Z","id":"AP76hiUidqOVfnTZ","name":"Gmail (Ref)","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3523b390-e367-43ce-b1e8-b8afeed5f022","name":"Every morning at 9 AM","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-1200,440]},{"parameters":{"value":"={{ $today.minus({days: 1}) }}","dataPropertyName":"yesterdayDate","toFormat":"YYYY-MM-DD","options":{"fromTimezone":"Europe/Lisbon"}},"id":"85046813-e776-4088-b945-5f6983007b76","name":"Get Yesterday's Date","type":"n8n-nodes-base.dateTime","typeVersion":1,"position":[-980,440]},{"parameters":{"content":"Connects to Gmail to fetch unread emails from the last 24 hours (since yesterday). Ensure Gmail credentials are set up.","width":300},"id":"792e37ba-1afa-4dea-8119-c445024a08a6","name":"Sticky: Gmail Info","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1000,120]},{"parameters":{"resource":"message","operation":"getAll","limit":50,"additionalFields":{}},"id":"89d1a0dd-7834-436a-a12a-4d25ab333487","name":"Get Unread Emails (24h)","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[-760,440],"credentials":{"gmailOAuth2":{"id":"0Q3Ux2Lji009IEEQ","name":"Gmail account"}}},{"parameters":{"conditions":{"boolean":[{"value1":"{{ $json.length }}","operation":"larger","value2":0}]}},"id":"cc1a1c34-d5eb-49cb-8c06-f51311f835d7","name":"Emails Found?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-540,340]},{"parameters":{"channel":"YOUR_SLACK_ERROR_CHANNEL_ID_OR_NAME","text":"Email Summary Workflow Error: Failed to connect to Gmail or retrieve emails. Please check the Gmail node configuration and credentials.","otherOptions":{},"attachments":[]},"id":"69d73a02-8b82-4fb9-9b4e-8ee0831b72fe","name":"Notify: Gmail Connection Failed","type":"n8n-nodes-base.slack","typeVersion":1,"position":[-540,640]},{"parameters":{},"id":"7f465db9-7f53-4522-babf-41e969383404","name":"Workflow End (Gmail Error)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,640]},{"parameters":{"channel":"YOUR_SLACK_INFO_CHANNEL_ID_OR_NAME","text":"Email Summary Workflow: No new unread emails found in the last 24 hours.","otherOptions":{},"attachments":[]},"id":"42917c7c-ee45-4c51-ae33-2fe4ebbc1fcc","name":"Notify: No Emails Found","type":"n8n-nodes-base.slack","typeVersion":1,"position":[-320,440]},{"parameters":{},"id":"5c36b582-5c43-4431-9098-6300d16fd54b","name":"Workflow End (No Emails)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-100,440]},{"parameters":{"content":"Error Handling: \n- If Gmail connection fails, a Slack notification is sent.\n- If no emails are found, a different Slack notification is sent.","width":300},"id":"fb375bc4-ca3e-42f5-bfdb-0e8f2dec2e7e","name":"Sticky: Error Handling Info","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,160]},{"parameters":{"batchSize":1,"options":{}},"id":"a1c8957f-ae59-4813-b20a-69ce937f7141","name":"Process Each Email","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-320,240]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"emailSubject","value":"{{ $json.subject }}"},{"name":"emailBody","value":"{{ $json.textPlain || $json.textHtml || 'No body content available.' }}"},{"name":"emailId","value":"{{ $json.id }}"}]},"options":{}},"id":"16779a5a-e648-45b3-be6c-32945e846aab","name":"Extract Email Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[-100,240]},{"parameters":{"content":"Uses OpenAI GPT-4 to summarize email content (subject + body). Ensure OpenAI API key is configured in credentials.","width":300},"id":"8b2b6d5d-2486-4d3e-9c73-6040a7979c92","name":"Sticky: OpenAI Info","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,40]},{"parameters":{"model":"gpt-4","options":{},"requestOptions":{}},"id":"f95ee1ac-460e-494a-92ff-d5e6896da422","name":"Summarize Email (GPT-4)","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[120,240]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"slackMessage","value":"📧 *Email Summary*\n*Subject:* {{ $node[\"Extract Email Content\"].json.emailSubject }}\n*Summary:*\n{{ $json.choices[0].message.content }}"}]},"options":{}},"id":"ab37b581-755b-489f-847b-33937dd8b1c1","name":"Format Slack Message","type":"n8n-nodes-base.set","typeVersion":1,"position":[340,240]},{"parameters":{"content":"Sends the generated summary for each email to the specified Slack channel. Ensure Slack credentials and channel are set.","width":300},"id":"9ef82519-2324-4535-b8f5-83ec524e7c5c","name":"Sticky: Slack Summary Info","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,40]},{"parameters":{"channel":"YOUR_SLACK_SUMMARY_CHANNEL_ID_OR_NAME","text":"{{ $json.slackMessage }}","otherOptions":{},"attachments":[]},"id":"c331e3e9-6d83-49aa-8884-34b30f16b3f8","name":"Send Summary to Slack","type":"n8n-nodes-base.slack","typeVersion":1,"position":[560,240]},{"parameters":{"content":"Remember to configure credentials for Gmail, OpenAI, and Slack nodes. Click on each node, go to the 'Credentials' section, and select or create new credentials.","height":120,"width":300},"id":"ee13a463-c144-4638-b436-c3772509aca8","name":"Sticky: Credentials Reminder","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,300]}],"connections":{"Every morning at 9 AM":{"main":[[{"node":"Get Yesterday's Date","type":"main","index":0}]]},"Get Yesterday's Date":{"main":[[{"node":"Get Unread Emails (24h)","type":"main","index":0}]]},"Get Unread Emails (24h)":{"main":[[{"node":"Emails Found?","type":"main","index":0},{"node":"Notify: Gmail Connection Failed","type":"main","index":0}]]},"Emails Found?":{"main":[[{"node":"Process Each Email","type":"main","index":0}],[{"node":"Notify: No Emails Found","type":"main","index":0}]]},"Notify: Gmail Connection Failed":{"main":[[{"node":"Workflow End (Gmail Error)","type":"main","index":0}]]},"Notify: No Emails Found":{"main":[[{"node":"Workflow End (No Emails)","type":"main","index":0}]]},"Process Each Email":{"main":[[{"node":"Extract Email Content","type":"main","index":0}]]},"Extract Email Content":{"main":[[{"node":"Summarize Email (GPT-4)","type":"main","index":0}]]},"Summarize Email (GPT-4)":{"main":[[{"node":"Format Slack Message","type":"main","index":0}]]},"Format Slack Message":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d873254f-17d6-4b6a-82a2-0356aef8f770","triggerCount":0,"shared":[{"createdAt":"2025-06-12T18:20:45.522Z","updatedAt":"2025-06-12T18:20:45.522Z","role":"workflow:owner","workflowId":"AP76hiUidqOVfnTZ","projectId":"uOq34c8HjhQfCJ55"}],"tags":[{"createdAt":"2025-06-25T21:27:47.437Z","updatedAt":"2025-06-25T21:27:47.437Z","id":"cSM5oTGW1SulCT1M","name":"Reference"}]}