workflows2/My workflow 2.json
{"createdAt":"2025-06-13T14:46:20.113Z","updatedAt":"2025-06-13T14:46:20.113Z","id":"ylIH09NZuJfmcdxb","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"e2b313dd-6b19-4d29-8eab-624aef7ff2a4","name":"Mistral Upload","type":"n8n-nodes-base.httpRequest","position":[1940,680],"typeVersion":4.2},{"parameters":{},"id":"fda48d2d-ef7d-4d82-9191-3f1cc96a63d5","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[700,680],"typeVersion":1},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"id":"6d5fa517-828e-44e2-8640-e5e997622443","name":"Mistral Signed URL","type":"n8n-nodes-base.httpRequest","position":[2140,680],"typeVersion":4.2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"15BcE6nXto9lQDHPmwjm7y9JPerAVEutY"},"options":{}},"id":"1efa2842-6eb5-4324-8075-e69cf9c7d180","name":"Import PDF","type":"n8n-nodes-base.googleDrive","position":[1720,680],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"1a2FcRDWHHncMO8CYxD80uNUBGH1Sy1k2"},"options":{}},"id":"df7ef263-d654-4741-b716-5de4f54fb723","name":"Import Image","type":"n8n-nodes-base.googleDrive","position":[1720,900],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"802e415b-f81a-4252-96cc-50b640ec80ff","name":"Mistral Upload1","type":"n8n-nodes-base.httpRequest","position":[1940,900],"typeVersion":4.2},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"id":"773cc663-befc-4638-9e11-ed8c93f492ed","name":"Mistral Signed URL1","type":"n8n-nodes-base.httpRequest","position":[2140,900],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{}},"id":"394f7276-ead7-4441-bff4-bd720e5ebe4c","name":"Mistral DOC OCR","type":"n8n-nodes-base.httpRequest","position":[2340,680],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  }\n}","options":{}},"id":"eaba4b48-4e80-4c2e-a543-6fb1acd8ccec","name":"Mistral IMAGE OCR","type":"n8n-nodes-base.httpRequest","position":[2340,900],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"1eb5f18b-eb06-48df-8491-d60de75b4855","name":"url","type":"string","value":"=https://pub-d4aa9be14ae34d6ebcebe06f13af667b.r2.dev/multimodal_bank_statement_scan.pdf"}]},"options":{}},"id":"902fea02-0d5d-400b-af9e-c9933b16f9bb","name":"Document URL","type":"n8n-nodes-base.set","position":[1080,680],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"1eb5f18b-eb06-48df-8491-d60de75b4855","name":"url","type":"string","value":"=https://pub-d4aa9be14ae34d6ebcebe06f13af667b.r2.dev/multimodal_bank_statement_2.png"}]},"options":{}},"id":"74b1ec99-93f9-412e-addb-b8d66d91b726","name":"Image URL","type":"n8n-nodes-base.set","position":[1080,900],"typeVersion":3.4},{"parameters":{"content":"### Example 1. Publicly Hosted Files\nThe default way to use Mistral OCR is to give it a public URL of the file you want processed. Great for your own semi-private docs or other people's. If you rather not expose files due to privacy concerns, then you'd want to check out example 2.","height":580,"width":680,"color":7},"id":"c3339fa6-4301-4fc5-b5a5-11361d59c88e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[920,540],"typeVersion":1},{"parameters":{"content":"### Example 2. Privately Hosted via Mistral Cloud\nGive Mistral OCR private and secure access to your files by uploading them to Mistral cloud first. Retrieve the file using a signed URL and pass this to Mistral OCR. Benefit of storing via Mistral could be faster cache access and reduced latency for repeat docs.","height":560,"width":920,"color":7},"id":"b160c867-ff7b-48f4-b545-abdb10b7297a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1640,540],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  }\n}","options":{}},"id":"d27e7a96-415f-422d-9aca-23c0787ba9ed","name":"Mistral DOC OCR1","type":"n8n-nodes-base.httpRequest","position":[1300,680],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  }\n}","options":{}},"id":"057d539d-2997-4ac7-b78f-f2249451b62e","name":"Mistral IMAGE OCR1","type":"n8n-nodes-base.httpRequest","position":[1300,900],"typeVersion":4.2},{"parameters":{"content":"## Document Parsing with Mistral OCR\nUp your structured document parsing game with Mistral's latest release... **Mistral-OCR**!\n* Designed to specifically parse PDF and image files.\n* Handles multiple-page documents and images up to 10k pixels.\n* Each page is conveniently transcribed as markdown only - there is no plain text output.\n* Incredible pricing at only $0.001 per page!\n\n### Requirements\n* You'll need a Mistral Cloud API Key\n* This template only works with the Mistral Cloud API for Mistral OCR.","height":640,"width":380},"id":"0848f0e8-4c51-4ae8-a445-c5413b158b20","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[500,260],"typeVersion":1},{"parameters":{"content":"### Example 3. No need for Extraction? Talk Directly with the File!\nIt seems Mistral were also able to integrate OCR capabilities into its text models which allows you to carry out tasks such as document classification and sentiment analysis really quickly. Unfortunately, it doesn't work the same way with images - you have to use Pixtral but the results are really bad!","height":580,"width":680,"color":7},"id":"23f8333e-1e63-4f5f-a6ea-4522e55804c4","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2600,540],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"1eb5f18b-eb06-48df-8491-d60de75b4855","name":"url","type":"string","value":"=https://pub-d4aa9be14ae34d6ebcebe06f13af667b.r2.dev/multimodal_bank_statement_scan.pdf"},{"id":"c639fce3-6967-444d-be18-6c9ce802ef22","name":"query","type":"string","value":"what is the total number of deposits?"}]},"options":{}},"id":"741a55b1-3cae-4962-bdba-099488d9017b","name":"Document URL1","type":"n8n-nodes-base.set","position":[2760,680],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $json.query }}\"\n        },\n        {\n          \"type\": \"document_url\",\n          \"document_url\": \"{{ $json.url }}\"\n        }\n      ]\n    }\n  ],\n  \"document_image_limit\": 8,\n  \"document_page_limit\": 64\n}","options":{}},"id":"8358eefb-c76a-42fb-a0e0-59d096a3d826","name":"Document Understanding","type":"n8n-nodes-base.httpRequest","position":[2980,680],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"1eb5f18b-eb06-48df-8491-d60de75b4855","name":"url","type":"string","value":"=https://pub-d4aa9be14ae34d6ebcebe06f13af667b.r2.dev/multimodal_bank_statement_2.png"},{"id":"639cd062-ebef-44ab-97a2-79ee388f8b41","name":"query","type":"string","value":"what is the total number of deposits?"}]},"options":{}},"id":"d59a8804-ce69-43e9-abee-5a3fb2af95e4","name":"Image URL1","type":"n8n-nodes-base.set","position":[2760,900],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"pixtral-large-latest\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $json.query }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": \"{{ $json.url }}\"\n        }\n      ]\n    }\n  ],\n  \"document_image_limit\": 8,\n  \"document_page_limit\": 64\n}","options":{}},"id":"c0d0b8d8-91fb-4217-8215-c82101ea396e","name":"Document Mis-Understanding?","type":"n8n-nodes-base.httpRequest","position":[2980,900],"typeVersion":4.2}],"connections":{"Mistral Upload":{"main":[[{"node":"Mistral Signed URL","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Document URL","type":"main","index":0},{"node":"Image URL","type":"main","index":0}]]},"Mistral Signed URL":{"main":[[{"node":"Mistral DOC OCR","type":"main","index":0}]]},"Import PDF":{"main":[[{"node":"Mistral Upload","type":"main","index":0}]]},"Import Image":{"main":[[{"node":"Mistral Upload1","type":"main","index":0}]]},"Mistral Upload1":{"main":[[{"node":"Mistral Signed URL1","type":"main","index":0}]]},"Mistral Signed URL1":{"main":[[{"node":"Mistral IMAGE OCR","type":"main","index":0}]]},"Document URL":{"main":[[{"node":"Mistral DOC OCR1","type":"main","index":0}]]},"Image URL":{"main":[[{"node":"Mistral IMAGE OCR1","type":"main","index":0}]]},"Document URL1":{"main":[[{"node":"Document Understanding","type":"main","index":0}]]},"Image URL1":{"main":[[{"node":"Document Mis-Understanding?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ea6638ae-7833-4490-bab1-18336a0654d5","triggerCount":0,"shared":[{"createdAt":"2025-06-13T14:46:20.123Z","updatedAt":"2025-06-13T14:46:20.123Z","role":"workflow:owner","workflowId":"ylIH09NZuJfmcdxb","projectId":"uOq34c8HjhQfCJ55"}],"tags":[]}