workflows2/My workflow.json
{"createdAt":"2025-06-13T14:46:55.520Z","updatedAt":"2025-06-13T14:46:55.520Z","id":"9epsL7EEWnXwgii8","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"-1002371463174"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-320,-80],"id":"0d40795b-2746-4287-9f7c-d482a54d5a72","name":"no photo1","webhookId":"4ad0ba1a-3692-4ead-93e0-bd538f1851a0"},{"parameters":{"jsCode":"const message = $input.first().json.message;\n\nif (message.photo) {\n  if (Array.isArray(message.photo)) {\n    // Multiple photos: find the largest by file_size\n    const largestPhoto = message.photo.reduce((max, photo) => {\n      return (photo.file_size > max.file_size) ? photo : max;\n    }, message.photo[0]);\n    return [{\n      json: {\n        file_id: largestPhoto.file_id,\n        width: largestPhoto.width,\n        height: largestPhoto.height\n      }\n    }];\n  } else {\n    // Single photo object (not an array)\n    return [{\n      json: {\n        file_id: message.photo.file_id,\n        width: message.photo.width,\n        height: message.photo.height\n      }\n    }];\n  }\n} else {\n  // No photos found\n  return [];\n}\n"},"id":"fddbfa91-5e38-4298-b4a9-b34c145f86f5","name":"Find largest photo","type":"n8n-nodes-base.code","typeVersion":1,"position":[-80,-80]},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[140,-80],"id":"3c78c17c-a943-4329-8751-5123a957bb83","name":"Download photo","webhookId":"ac968646-1459-4aa3-a68b-2f520a7cd8e9"},{"parameters":{"assignments":{"assignments":[{"id":"prompt-assignment","name":"chatInput","value":"Analyze this car dashboard image and extract the odometer/kilometer reading. Look for:\n\n1. Digital or analog odometer display\n2. Total distance/mileage counter\n3. Any numbers indicating kilometers driven\n4. Trip meter readings\n\nProvide the exact number of kilometers shown on the odometer. If you can see multiple readings (like trip A, trip B, total), focus on the TOTAL odometer reading.\n\nRespond with the kilometer reading in this format:\nOdometer: [NUMBER] km\n\nIf you cannot clearly read the odometer, explain what you can see and why the reading is unclear.","type":"string"}]},"options":{"includeBinary":true}},"id":"8f28cfbd-5a40-47d1-bf0f-c5ce2dfce383","name":"Set OCR Prompt","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[340,-80]},{"parameters":{"options":{"passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[540,-80],"id":"b9624968-dd5e-476e-a2f7-08858a63e9d8","name":"AI Agent"},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[480,160],"id":"615f4f0a-dd2b-4d30-846b-f272e1e72745","name":"Groq Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $workflow.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[620,160],"id":"ae183941-a53d-4f38-b586-88bc93b7550d","name":"Simple Memory"}],"connections":{"no photo1":{"main":[[{"node":"Find largest photo","type":"main","index":0}]]},"Find largest photo":{"main":[[{"node":"Download photo","type":"main","index":0}]]},"Download photo":{"main":[[{"node":"Set OCR Prompt","type":"main","index":0}]]},"Set OCR Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"no photo1":[{"json":{"update_id":778130075,"message":{"message_id":12,"from":{"id":628771922,"is_bot":false,"first_name":"Eduardo","username":"eddardstark67","language_code":"pt-pt"},"chat":{"id":-1002371463174,"title":"🚗 Gas","type":"supergroup"},"date":1749202144,"photo":[{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADcwADNgQ","file_unique_id":"AQADxMsxG0agEFJ4","file_size":1053,"width":51,"height":90},{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADbQADNgQ","file_unique_id":"AQADxMsxG0agEFJy","file_size":13745,"width":180,"height":320},{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADeAADNgQ","file_unique_id":"AQADxMsxG0agEFJ9","file_size":62798,"width":451,"height":800},{"file_id":"AgACAgQAAyEFAASNWagGAAMEaEHIeKyKNJfTjjFbxRW74-WI5JwAAsTLMRtGoBBSAAH4oShXd9FjAQADAgADeQADNgQ","file_unique_id":"AQADxMsxG0agEFJ-","file_size":117007,"width":721,"height":1280}]}}}]},"versionId":"25b6f035-a4f5-4437-b180-03c7da54c96b","triggerCount":0,"shared":[{"createdAt":"2025-06-13T14:46:55.532Z","updatedAt":"2025-06-13T14:46:55.532Z","role":"workflow:owner","workflowId":"9epsL7EEWnXwgii8","projectId":"uOq34c8HjhQfCJ55"}],"tags":[]}